{
  "env": {
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/spec-helper.js", "**/*.spec.js"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
