.instruction {
  background-color: #BFBFBF;
  text-align: center;
}

.instruction button {
  width: 100%;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.instruction button:hover, .instruction button:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.instruction span {
  display: block;
}

span.bytes, span.cycles {
  display: inline-block;
  margin: 0 10px;
}

.eight-bit-transfer-and-io {
  background-color: #CCCCFF;
}

.sixteen-bit-transfer {
  background-color: #CCFFCC;
}

.eight-bit-arithmetic-and-logical-operation {
  background-color: #FFFF99;
}

.sixteen-bit-arithmetic-operation {
  background-color: #FFCCCC
}

.rotate-shift {
  background-color: #80FFFF;
}

.bit-operation {
  background-color: #80FFFF;
}

.jump {
  background-color: #FFCC99;
}

.call-and-return {
  background-color: #FFCC99;
}

.general-purpose-arithmetic-operations-and-cpu-control {
  background-color: #FF99CC;
}
