.sidebar {
  position: fixed;
  top: 0;
  right: 0px;
  width: 40%;
  min-width: 400px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0px 5px 0 rgba(33,33,33,0.2);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
}
