.op-code-table {
  border-collapse: collapse;
  background-color: #9F9F9F;
}

.op-code-table tbody {
  font-family: monospace;
}

.op-code-table th {
  border: 1px solid black;
}

.op-code-table td {
  border: 1px solid black;
  white-space: nowrap;
}
